@charset "UTF-8";

/* 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, 
h5, h6, input, fieldset, legend, p, select, table, 
th, td, tr, textarea, button, form {
        margin:  0px 0px 0px 0px; 
        padding: 0px 0px 0px 0px;
      
    }

body  {
    font-family: "맑은 고딕", 돋음;
        font-size: 12px;
}


ol,ul {list-style-type: none;}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}



/* **********레이아웃*********** */
#wrap{
    width: 1000px; margin: 0px auto;
  /*   border: 1px black solid; */
}

#header{
    padding: 0px 0px 0px 0px;
    border-bottom: rgb(206, 198, 198) 1px solid;
}


#nav{
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px rgb(212, 205, 205);
    
    
    
}


#conten{

}

#foot{
    background-color: gray;
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-size: 20px;
}



/* **************헤더 영역********** */
#header h1>a{ /* *****로그****** */
    float: left;
    margin: 0px 0px 10px 0px;
    font-size: 35px;
    color: green;
    
}

#header ul>li{   /* ****로그인 회원가입*** */
    float: right;
    border: 1px solid black;
    margin: 15px 0px 10px 10px;
    border-radius: 3px 3px 3px 3px;
    background-color: gray;
}

#nav ul>li{ /* 입사지원서 게시판 갤러리 */
    float: left;
    width: 245px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-right: solid 1px rgb(207, 200, 200);
  
    
}

#nav ul>li.last{    /* 발명록 */ 
    border-right: none;
}


#img{ /* 컨텐츠 */
    width: 300px;
    float: left;
    padding: 10px 10px 20px 10px;
}

#disc{  /* 사진 */
    float: left;
    font-size: 15px;
    margin: 50px 30px 30px 30px;
}

#sto{   /* 컨텐츠 본문 */
    font-size: 25px;
}


