<!DOCTYPE html>



<html>
    <head>
        <title>예제연습</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/main-1.css">


    </head>


    <body>
        <!-- **********헤더 시작*********** -->
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1><a href="">mysite</h1></a>

                <ul>

                    <li><a href="">로그인</li></a>
                    <li><a href="">회원가입</li></a>

                </ul>
            </div>
        <!-- **********헤더 끝***************-->

        <!-- *************네비 시작************** -->
        <div id="nav">
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li class="last">발명록</li>
            </ul>
            </div>
        <!-- *************** 네비 끝**************** -->

        <!--*******************컨텐츠 시작************-->
        <div id="conten" class="clearfix">

            <img id="img" src ="../img/jung.jpg">

            <div id="disc">
                <p id="sto">안녕하세요 주형준 입니다.</p><br>

                <p>이 사이트 웹 프로그램 실습과제 예제 사이트입니다.<br>
                    메뉴는 사이트 소개, 방명록, 게시판이 있구요.<br>
                    자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br>
                    배운 거 있는거 없는 거 다합쳐서 만들어 놓은 사이트 입니다.<br>
                    
                    (자유롭게 꾸며보세요!!)</p>

                    <br>
                    <a href="">방명록에 글남기기</a>

            </div>


        </div>
        <!--*******************컨텐츠 끝*****************8-->


        <!--******************푸터 시작******************8-->
        <div id="foot">


            주형준 조원로 20길 -9번지




        </div>

        <!--****************푸터 끝*********************-->


        </div>

















        </div>




    </body>



</html>